<app-navbar></app-navbar>

<div class="row justify-content-md-center mt-0 mt-md-2 animate__animated animate__backInDown ">
  <div class="col-sm-12 col-md-9">
    <h1 class="mt-5 text-orange mx-3 mx-md-0">
      <strong>Bienvenido a mi sitio</strong>
    </h1>
    <P class="mt-2 mx-3 mx-md-0">
      <strong>
        Aqui podras visualizar los ultimos valores de las principales
        indicadores económicos en Chile, tanto los indicadores diarios como
        históricos.
      </strong>
    </P>
  </div>
</div>
<div class="row justify-content-md-center animate__animated animate__backInDown animate__delay-1s">
  <div class="col-sm-12 col-md-3 mt-5 p-5">
    <app-msg-alert
      title="Graficas"
      detail="Puedes visualizar como varia los precios por dias en una simple grafica."
      img="assets/img/dark_analytics_re_2kvy.svg"
    ></app-msg-alert>
  </div>
  <div class="col-sm-12 col-md-3 mt-5 p-5">
    <app-msg-alert
      title="Lista"
      detail="Puedes visualizar a partir del currency los ultimos 10 dias y su respectivo valores."
      img="assets/img/business_plan_re.svg"
    ></app-msg-alert>
  </div>
  <div class="col-sm-12 col-md-3 mt-5 p-5">
    <app-msg-alert
      title="Lista"
      detail="Puedes visualizar a partir del currency los ultimos 10 dias y su respectivo valores."
      img="assets/img/charts_re_5qe9.svg"
    ></app-msg-alert>
  </div>

  <div class="col-sm-12 col-md-9">

    <P class="mt-2 mx-3 mx-md-0">
      <strong>
        Toda la informacion mostrada fue obtenida desde
      </strong>
      <a class="link-danger" href="https://mindicador.cl/"><strong>mIndicador.</strong></a>
    </P>
  </div>
</div>
