<app-navbar></app-navbar>

<div class="row justify-content-md-center mt-0 mt-md-2">
  <div class="col-sm-12 col-md-7 mt-0 mt-md-3">
    <app-msg-alert
      title="Inicio"
      detail="Bievenido a mi resolucion del test."
      type="primary">
    </app-msg-alert>
  </div>
</div>
<div class="row justify-content-md-center">
  <div class="col-sm-12 col-md-4">
    <app-msg-alert
      title="Graficas"
      detail="Puedes visualizar como varia los precios por dias en una simple grafica."
      type="warning">
    </app-msg-alert>
  </div>
  <div class="col-sm-12 col-md-3">
    <app-msg-alert
      title="Lista"
      detail="Puedes visualizar a partir del currency los ultimos 10 dias y su respectivo valores."
      type="info">
    </app-msg-alert>
  </div>
</div>
