<app-navbar></app-navbar>
<div class="row justify-content-md-center mt-0 mt-md-2">

  <div class="col-sm-12 col-md-10">
    <h1 class="mt-2 text-orange mx-3 mx-md-0"><strong>Lista</strong></h1>
    <P class="mt-2 mx-3 mx-md-0">
      <strong>
        Aquí podras visualizar el listado de los últimos 10 valores del <span class="text-orange"> UF, IVP, DOLAR, DOLAR INTERCAMBIO, EURO, IPC</span>
      </strong>
    </P>

  </div>
</div>

<div class="row justify-content-md-center">
  <div class="col-sm-12 col-md-2 mt-3">

    <div class="d-grid gap-2 mb-5">
      <button *ngFor="let item of listCurrency; let i = index" class="btn btn-dark mx-3 " type="button" (click)="selectCurrency(item)" >
        <i [class]="listCurrencyIcon[i]"></i>
        {{item | titlecase}}</button>
    </div>
  </div>
  <div class="col-sm-12 col-md-8 p-3" *ngIf="series.length !== 0; else notFound">
    <div class="table-responsive">
      <table class="table table-hover">
        <thead class="table-dark">
          <tr>
            <th scope="col">#</th>
            <th>Fecha</th>
            <th>Valor</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of series; let i = index">
            <th scope="col">{{i+1}}</th>
            <td>{{item.fecha | date:'dd/MM/yyyy'}}</td>
            <td>{{item.valor | currency}}</td>
          </tr>


        </tbody>
      </table>
        </div>

  </div>
  <ng-template #notFound>
    <div class="col-sm-12 col-md-8 p-3">
      <div class="alert alert-orange" role="alert">
          Debes seleccionar un indicadores económicos
      </div>
    </div>
  </ng-template>
</div>


